@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes reveal {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(0.8);
  }
}

@media (min-width: 640px) {
  .scaling-image {
    view-timeline-name: --scaling-image;
    view-timeline-axis: block;

    animation: linear reveal both;
    animation-timeline: --scaling-image;

    animation-range: entry 25% cover 50%;
  }
}